@mixin primitive() {
    &.string {
        color: #ff4747;
        // One character indent
        text-indent: -1.1ex;
        margin-left: 1.1ex;
        display: inline-block;
        font-weight: normal;

        &.unquoted {
            color: #6C3055;
            // Remove indent
            text-indent: 0;
            margin-left: 0;
        }
    }

    &.integer, &.double {
        color: #ff00ff;
    }

    &.boolean, &.null {
        color: #0000ff;
    }
}

@mixin notValidInformation() {
    color: black;
    margin-left: 1.1ex;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
    min-width: 100%;
    width: auto;
    height: auto;
    display: inline-block;
    overflow: auto;
    
    &.iframe {
        overflow-y: hidden;
    }
}

body {
    position: absolute;
    margin: 0;
    padding: 0;
    min-width: 100%;
    width: auto;
    height: auto;
    overflow: visible;
    display: block;
    background-color: white;
    font-family: Consolas,"Courier New",monospace;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.6em;
    white-space: nowrap;

    .data { // Hide raw data
        display: none;
    }

    div.javascript-html-header {
        border: 1px solid #b6cedb;
        font-weight: bold;

        &.simpleNode {
            padding-left: 0.2em;
        }

        &.markedDuplicate { // Highlight duplicate
            border-top: 1px solid #800000;
            border-left: 2px solid #800000;
            border-right: 2px solid #800000;
        }

        span {
            font-weight: normal;
        }
    }

    div.javascript-html-called-from-header {
        padding-top: 5px;
        font-size: 11px; // Smaller text
        line-height: 1.2em;
        border-left: 1px dashed #b6cedb;
        border-right: 1px dashed #b6cedb;
        border-bottom: 1px dashed #b6cedb;

        span {
            font-size: 11px;
        }

        &.show { // Solid when open
            border-right: 1px solid #b6cedb;
            border-bottom: 1px solid #b6cedb;
        }

        nav {
            height: 13px;
            width: 13px;
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAANAQMAAACNV+yuAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAB3RJTUUH3wYbChkt9KxR3wAAAAZQTFRF////ADmXNS1YIwAAAAJ0Uk5TAEwJ+cCDAAAAAWJLR0QAiAUdSAAAACBJREFUCNdj+P///wGGBh4GBwjRhErMP1ODIYZQDNILAENTEab6GmmQAAAAAElFTkSuQmCC"); // greyPlusMinus.png
        }

        &.markedDuplicate { // Highlight duplicate
            border-top: 1px solid #800000;
            border-left: 2px solid #800000;
            border-right: 2px solid #800000;
        }
    }

    div.javascript-html-called-from {
        border-left: 1px dashed #b6cedb;

        &.markedDuplicate { // Highlight duplicate
            border-bottom: 1px solid #800000;
            border-left: 2px solid #800000;
            border-right: 2px solid #800000;
        }
    }

    div.javascript-html-called-from-header, div.javascript-html-called-from {
        font-weight: bold;

        &:empty { // Hide if empty
            display: none;
            border: none;
        }
    }

    div.javascript-html-dump {
        border-left: 1px solid #b6cedb;

        &.simpleNode {
            border-bottom: 1px solid #b6cedb;
            border-right: 1px solid #b6cedb;
        }

        &.markedDuplicate { // Highlight duplicate
            border-bottom: 1px solid #800000;
            border-left: 2px solid #800000;
            border-right: 2px solid #800000;
        }
    }

    nav { // Expand/Collapse field
        display: inline-block;
        height: 15px;
        width: 15px;
        margin-left: 0.2em;
        margin-right: 0.4em;
        vertical-align: middle;
        cursor: pointer;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAPAQMAAADJdO3fAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAB3RJTUUH3wYbChkkjXDpewAAAAZQTFRF////AAAAVcLTfgAAAAF0Uk5TAEDm2GYAAAABYktHRACIBR1IAAAAIUlEQVQI12P4////H4YGZgYWJKIRleh/zN+CLoamA2QKAG2dEFL4kmndAAAAAElFTkSuQmCC"); // blackPlusMinus.png
        background-repeat: no-repeat;
        // Make unselectable
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-position: left; // +
        &.open {
            background-position: right; // -
        }

        &.empty {
            opacity: 0.3;
        }
    }

    .primitive {

        span.type { // Possible type field
            color: #39AB66;
            font-style: italic;
        }

        span.content { // Content
            @include primitive();
        }
    }

    .unknown, .abortDepth {
        span.content { // Content
            color: #FF7700;
        }

        span.info { // Additional information field
            @include notValidInformation();
        }
    }

    span {
        &.name { // Element name field
            color: #40720B;
            font-weight: bold;
            font-style: italic;
            margin-left: 0.4em;
        }

        &.modifier { // Modifier field
            color: #0000ff;
            font-style: italic;
        }

        &.type { // Type field
            color: #1BC0AC;
            font-weight: bold;
            font-style: italic;
        }

        &.id { // ID field
            margin-left: 1.5em;
            color: #c5d2e7;
            font-weight: bold;
            border-width: 0;
            margin-right: 1em;
        }

        &.outline { // Self printed outline
            span {
                &:hover span.mouseoverGreyed {
                    display: inline;
                }

                @include primitive();

                &.unknown, &.abortDepth {
                    @include notValidInformation();
                }

                &.reservedWord {
                    color: #0000ff;
                }

                &.function {
                    color: #3e8f56;
                }

                &.calledFrom {
                    color: #b3c4e0;
                }

                &.mouseoverGreyed {
                    display: none;
                    font: inherit;
                    color: #b3c4e0;
                }

                &.tripleDot {
                    color: #b3c4e0;
                }
            }
        }
    }

    ul.header { // Tab header
        background: -webkit-linear-gradient(top, #c4e0ef 0, #d3e8f3 100%);
        background: -moz-linear-gradient(top, #c4e0ef 0, #d3e8f3 100%);
        background: -o-linear-gradient(top, #c4e0ef 0, #d3e8f3 100%);
        background: linear-gradient(to bottom, #c4e0ef 0, #d3e8f3 100%);
        margin: 0 0 0 1.4em;
        padding: 0 0 0 0.4em;

        li { // Tab
            display: inline;
            background: -webkit-linear-gradient(top, #9ccbe3 0, #b5d8ea 100%);
            background: -moz-linear-gradient(top, #9ccbe3 0, #b5d8ea 100%);
            background: -o-linear-gradient(top, #9ccbe3 0, #b5d8ea 100%);
            background: linear-gradient(to bottom, #9ccbe3 0, #b5d8ea 100%);
            padding: 0 0.1em;
            margin: 0 0.1em;
            font-weight: bold;
            cursor: pointer;
            // Make unselectable
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            &.active { // Mark active Tab
                background: -webkit-linear-gradient(top, #5da9d2 0, #84bedd 100%);
                background: -moz-linear-gradient(top, #5da9d2 0, #84bedd 100%);
                background: -o-linear-gradient(top, #5da9d2 0, #84bedd 100%);
                background: linear-gradient(to bottom, #5da9d2 0, #84bedd 100%);
            }
        }
    }

    ul.content { // Tab content
        margin: 0;
        padding: 0;

        li {
            list-style: none outside none;
            padding: 0;
            margin: 0;

            &.content.source.primitive, &.content.closureHandle.primitive {
                span.content {
                    text-indent: -1.1ex;
                    margin-left: 1.9em;
                }
            }
        }
    }

    dl { // Complex node
        padding: 0 0 0 1.4em;
        margin: 0;
        border-bottom: 1px solid #b6cedb;

        li {
            dl { // Hide outer border
                border-bottom: 0;

                dt, dd {
                    border-right: 0;
                }
            }
        }

        dt {
            border-left: 1px solid #b6cedb;
            border-bottom: 1px solid #b6cedb;
            border-right: 1px solid #b6cedb;
            list-style: none outside none;
            font-weight: bold;

            &.inline { // Simple node: imitate nav width and margin
                padding-left: 1.6em;

                span.term { // Nav border
                    margin-left: 2px;
                }
            }

            &.duplicate span.id { // Show duplicates
                border-bottom: 1px dotted #800000;
                color: #800000;
                cursor: pointer;

                &:hover {
                    border-bottom: 1px double #800000;
                }
            }

            &.markedDuplicate { // Highlight duplicate
                border-top: 1px solid #800000; // Add border on top
                border-left: 2px solid #800000;
                border-right: 2px solid #800000;
            }
        }

        dd { // Complex node content
            display: block;
            font-weight: bold;
            list-style: none outside none;
            width: auto;
            border-bottom: 1px solid #b6cedb;
            border-right: 1px solid #b6cedb;
            border-left: 1px dashed #b6cedb;
            margin: 0;
            padding: 0;

            &:empty, &.inline { // Hide if empty
                display: none;
            }

            &.markedDuplicate { // Highlight duplicate
                border-bottom-color: #800000;
                border-right: 2px solid #800000;
                border-left: 2px dashed #800000;
            }
        }
    }
}
